<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-itunes-app" content="app-id=1314955543, affiliate-data=myAffiliateData, app-argument=myURL">

	<title>AllAccess - the exclusive fanclub</title>
	<link media="all" rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-touch-icon.png" | absolute_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon-32x32.png" | absolute_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon-16x16.png" | absolute_url }}">


	<meta property="og:url"                content="http://allaccessapp.com/" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="AllAccess - the exclusive fanclub" />
	<meta property="og:description"        content="All Access is the doorway to the exclusive fan clubs of your favorite stars. Follow your most beloved stars from social media, see what they’re up to and be the only one to receive exclusive content and intimate insights. Get offers and recommendations selected by your biggest stars just for you! Become one of the few, become a Superfan!" />
	<meta property="og:image"              content="{{ "images/allaccessapp.com.png" | absolute_url }}" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75779488-6"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-75779488-6');
	</script>
</head>
<body>
	<div id="wrapper" style="background-image: url('{{ "/images/bg-circule.svg" | absolute_url }}');">
		<header id="header">
			<div class="logo">
				<a href="{{ site.url }}{% link index.html %}">
					<img src="{{ "images/logo-1.svg" | absolute_url }}" alt="All Access" />
				</a>
			</div>
			<a class="partner-link" href="{{ site.url }}/influencer">Become a Partner</a>
		</header>
		<main>
			{{ content }}
		</main>
		<footer id="footer">
			<div class="start-link">
				<a href="{{ site.url }}{% link influencer/index.html %}">Become a Partner</a>
			</div>
			<div class="start-link">
				<a href="https://www.instagram.com/all_access_app/" target="_blank" rel="noopener noreferrer">Find us on Instagram</a>
			</div>
			<div class="impress-link">
				<a href="{{ site.url }}{% link impressum/index.html %}">Impressum</a>
			</div>
			<div class="copyright">
				&#169; <a href="https://www.codeandco.com" target="_blank" rel="noreferrer nofollow">code&#38;co.</a> {{ 'now' | date: "%Y" }}
			</div>
		</footer>
	</div>
</body>
</html>
